/* General
---------- */
html {
    scroll-behavior: smooth;
}

/* Fonts
-------- */
@font-face {
    font-family: 'Playfair Display';
    src: url(../webfonts/PlayfairDisplay.ttf);
}

body {
    color: #6C757D;
    background-color: #1C1817;
    background-image: url("../images/fundal.jpg");
    background-attachment: fixed;
    font-weight: 300;
    font-family: 'Playfair Display', serif
}

/* Lightbox
----------- */
.lightbox {
    display: none;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}


/* Typography
------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.h6 {
    font-family: 'Playfair Display', serif;
}

p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Header
--------- */
header {
    color: #999;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/header.jpg');
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: bottom right;
    padding: 6rem 0;
    -moz-box-shadow: inset 0 0 200px #000000;
    -webkit-box-shadow: inset 0 0 200px #000000;
    box-shadow: inset 0 0 200px #000000;
}


/* Logo
------- */
/*.logo img {
    transition: transform .25s ease-in-out;
}

.logo img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}*/


/* Program
----------*/
.program {
    background-image: url("../images/program.jpg");
    box-shadow: inset 0 0 50px #000000;
}

@media (max-width: 991.98px) {
    .program .cand {
        margin-bottom: 1.5rem;
    }

    .produse .rounded-left,
    .produse .modal .rounded-right {
        background-size: cover;
        background-position: center;
        min-height: 150px;
        height: 150px !important;
        border-radius: 0 !important;
    }

    .close-modal {
        color: #fff !important;
    }

    .portrait {
        padding-bottom: 380px !important;
    }

    .price-display {
        font-size: 1rem;
    }
}

@media (max-width: 454px) {
    .program .luni {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 408px) {
    .program .sambata {
        margin-bottom: 1.5rem;
    }
}


/* Navigatie
------------ */
nav {
    background-image: url('../images/navigatie.jpg');
}

nav .btn {
    border-color: #FFF;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #e29551;
}

@media (max-width: 767.98px) {
    nav .row {
        padding: 15px 0 !important;
    }
}


/* Buttons
---------- */
.btn {
    font-family: 'Playfair Display', serif;
}


/* Forms
-------- */
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}


/* Torturi
---------- */
.torturi {
    background-image: url('../images/fundalTorturi.png');
    background-position: top center;
    background-repeat: no-repeat;
}


/* Cofetarie
---------- */
.cofetarie {
    background-image: url('../images/fundalCofetarie.png');
    background-position: top center;
    background-repeat: no-repeat;
}


/* Patiserie
---------- */
.patiserie {
    background-image: url('../images/fundalPatiserie.png');
    background-position: top center;
    background-repeat: no-repeat;

}

/* Patiserie
---------- */
.prajituri {
    background-image: url('../images/fundalPatiserie.png');
    background-position: top center;
    background-repeat: no-repeat;

}


/* Gelaterie
------------ */
.gelaterie {
    background-image: url('../images/fundalGelaterie.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.gelaterie .rounded-left {
    padding-bottom: 250px;
    border-radius: .25rem .25rem 0 0 !important;
}


/* Recenzii
----------- */
.stele i {
    background: -webkit-linear-gradient(#e29551, #873e24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Miscellaneous
---------------- */
.faina {
    background-image: url('../images/faina.png');
    background-position: top center;
    background-repeat: repeat-y;
}

.shadow-xl {
    box-shadow: 0 1rem 30rem rgba(0, 0, 0, 3.5);
}

.sub-titlu {
    color: #999;
}

.gradient-line {
    height: 5px;
    background: linear-gradient(to right, #e29551, #873e24);
}

.text-shadow {
    text-shadow: 0 0 15px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5);
}


/* Contact
---------- */
.imagine-contact {
    background-image: url('../images/contact.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 200px #000000;
}

@media (max-width: 575.98px) {
    .contact .contact-complet {
        margin: 0;
    }
}

@media (max-width: 991.98px) {
    .contact .rounded-right {
        border-radius: .25rem !important;
    }
}

@media (max-width: 1199.98px) {

    .adresa,
    .telefon {
        margin-bottom: 1.5rem;
    }
}



/* Produse
---------- */
.produse .rounded-left,
.produse .modal .rounded-right {
    background-size: cover;
    background-position: center;
    max-height: 250px;
    height: 200px;
    border-radius: 0 !important;
}

.produse .rounded-left:hover {
    cursor: pointer;
}

.produse .modal .rounded-right {
    padding: 0 0 570px 0;
}

.produse i:hover {
    opacity: 1;
    cursor: pointer;
}


@media (max-width: 575.98px) {
    .produse .modal .row {
        margin: 0;
    }

    .produse .modal h1 {
        font-size: 1.75rem !important;
    }

    .produse .modal .mb-5 {
        margin-bottom: 1rem !important;
    }

    .produse .modal h4 {
        font-size: 1.25rem;
    }

    .produse .modal .rounded-right {
        padding: 0 0 250px 0 !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .produse .modal h1 {
        font-size: 2rem !important;
    }

    .produse .modal .mb-5 {
        margin-bottom: 1.5rem !important;
    }

    .produse .modal h4 {
        font-size: 1.25rem !important;
    }

    .produse .modal .rounded-right {
        padding: 0 0 400px 0 !important;
    }

    .gelaterie .rounded-bottom .mb-3 {
        min-height: 96px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .gelaterie .rounded-bottom .mb-3 {
        min-height: 72px;
    }
}

@media (max-width: 991.98px) {
    .produse .modal-content {
        background-color: transparent !important;
    }

    .produse .modal .d-flex-column {
        background-color: white !important;
    }

    .produse .modal .rounded-right {
        border-radius: 0 0 .25rem .25rem !important;
    }

    .gelaterie .rounded-left,
    .gelaterie .modal .rounded-right {
        background-size: cover;
        background-position: center;
        max-height: 400px;
        height: 400px !important;
        background-repeat: no-repeat;
    }
}

@media (min-width: 992px) {

    .produse .rounded-right h5,
    .gelaterie .rounded-bottom h5 {
        min-height: 72px;
    }

    .gelaterie .rounded-bottom .mb-3 {
        min-height: 120px;
    }
}

@media (min-width: 1200px) {

    .produse .rounded-right h5,
    .gelaterie .rounded-bottom h5 {
        min-height: 48px;
        font-size: 20px;
        font-weight: 500;
    }

    .gelaterie .rounded-bottom .mb-3 {
        min-height: 96px;
    }
}


/* Footer
----------*/
.footer {
    background-color: rgba(0, 0, 0, 0.4);
}

.drepturi {
    border-top: 1px solid #222;
}

.opacity-02 {
    opacity: 0.2;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
}

.showprod {
    cursor: pointer;
}

.portrait {
    padding-bottom: 280px;
    background-size: cover;
    background-position: center;
}

.portrait.landscape {
    padding-bottom: 334px;
}

/*.portrait {
    padding-bottom: 280px;
    background-size: cover;
    background-position: center;
}*/

.portrait-content {
    min-height: 150px;
}

.product-container .image {
    /*    height: 270px;
    width: 200px;*/
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

@media (max-width: 1400px) {
    .produs-single {
        object-fit: contain;
        background: #fff;
        max-height: 650px;
    }
}

@media (min-width: 1450px) {
    .produs-single {
        object-fit: contain;
        background: #fff;
        max-height: 850px;
    }
}

.font-secondary {
    font-family: 'Amita', cursive;
}

body.pages.contact .testimonials {
    display: block !important;
}